@font-face {
    font-family: 'Montserrat';
    src: url(../fontes/Montserrat/Montserrat-VariableFont_wght.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
    background-color: #212529;
    color: #eebefa;
}

button{
    background-color: #9c36b5;
    border: none;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
}

img:hover{
    transform: scale(1.1);
}

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(#ad3ec939, #0000ff47);
    filter: blur(38px);
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 22px;
    margin-bottom: 16px;
    list-style: none;
    font-size: 22px;
    z-index: 10;
}

/*Used in javascript to add a background color when user scroll down*/
.navigationSDBackground{
    background-color: #ad3ec9bf;
}

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 804px) {
    .navigation{
        flex-direction: column;
    }
    .description{
        margin-top:22px !important;
    }
}

#search{
    padding: 12px;
    border-radius: 14px;
    font-family: inherit;
    width: 320px;
    border: none;
    outline: none;
}
#search:focus{
    box-shadow: 1px 1px 3px 4px #ad3ec979;
}

.description{
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 60px;
}

.description h1{
    font-size: 44px;
    text-decoration:line-through;
    text-decoration-color: #0000ff47;
}

.description p{
    opacity: 0.7;
}
.animes{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    justify-items: center;
    row-gap: 30px;
    column-gap: 12px;
    padding: 20px;
    z-index: 4;
    
}

.anime{
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 626px) {
    .anime{
        width: 320px;
    }
}
.anime img:not(.play){
    width: 100%;
    height: 400px;
    border-radius: 14px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.137);
}

.play{
    width: 24px;
    height: 24px;
}
.seeTrailer{
    display: flex;
    align-items: center;
    gap: 4px;
}

.anime h2{
    margin-bottom: 14px;
}

.anime a{
    color: #cc5de8;
    text-decoration: none;
    margin-bottom: 22px;   
}
.anime a:hover:not(.seeTrailer){text-decoration: underline;}

.anime .info div{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
}
.anime .info div a{margin: 0 !important;}

.githubIcon{
    width: 38px;
    height: 38px;
}

.toTop{
    display: none;
    background-color: #9c36b5;
    border: none;
    position: fixed;
    bottom:0;
    right: 0;
    width: 60px;
    height: 60px;
    margin: 16px;
    padding: 8px;
    cursor: pointer;
}

